.form{
  width: 450px;
  height: 460px;
}

.button_az{
  display: inline-block;
  margin: 3px;
  background-color: rgba(242, 242, 242, 0.27);
  padding: 2px 1px 0 2px;
}

/*.bord{*/
  /*position: relative;*/
  /*border-left: 24px solid rgba(173, 216, 230, 0.38);*/
  /*!*border-top: 30px solid rgba(173, 216, 230, 0.38);*!*/
  /*height: 400px;*/
  /*!*width: 96%;*!*/
/*}*/

.table{
  border: 1px solid #b0b0b0;
  vertical-align: top;
  background-color: rgba(255, 255, 255, 0.27);
  width: 500px;
  height: 417px;
  overflow: scroll;
}

.block{
  width: 95%;
  display: inline-block;
  /*position: relative;*/
  /*top: -400px;*/
  /*border-top: 30px solid rgba(173, 216, 230, 0.38);*/
  /*border-left: 24px solid rgba(173, 216, 230, 0.38);*/
  /*height: fit-content;*/
}

.font{
  background-color: rgba(173, 216, 230, 0.38);
  /*width: fit-content;*/
}

.left{
  width: 50%;
  display: inline-block;
  float: left;
}

.right{
  width: 50%;
  display: inline-block;
  float: right;
}

p {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  margin-left: 30px;
}

.text_2{
  margin: 0 0 0 30px;
  width: 90%;
}

.Div_2{
  margin:-1px 0 0 30px;
  width: 90%;
  line-height: 1.6;
}

.Div_4 {
  width: 90%;
  line-height: 1.5;
  margin-left: 30px;
  margin-top: 25px;
}

.Div_5{
  margin: 8px 0 0 30px;
  width: 90%;
  line-height: 1.5;
  padding: 20px 0 0 0;
}

.color{
  width: 20px;
  height: 20px;
  margin: 0 7px 0 0 ;
}

select{
  width: 99%;
  background-color: rgba(242, 242, 242, 0.27);
  border: initial;
}

input{
  width: 95%;
}

.button-grey{
  width: 23px;
  height: 20px;
  background-color: rgba(176, 176, 176, 0.27);
  /*margin: 0 5px 0 -24px;*/
}

.button-div{
  width: 600px;
  height: 55px;
}

.button{
  display: inline;
  width: auto;
  margin: 10px 83px 0 0;
}

.button-little{
  width: 28px;
  height: 20px;
  background-color: grey;
}
